@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary—color: #6366F1;
    --accent—color: #3f83f8;
    --text—color: #333333;
    --link-color: #2563eb;
    --background-color: #fff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

@font-face {
    font-family: 'Nostalgic-Remain';
    src: url(./fonts/NostalgicRemain-Regular.woff);
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    text-decoration: none;
    color: var(--text—color);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    overflow-x: hidden;
}

header {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav {
    display: none;
    gap: 1.5rem;
}

@media (min-width: 780px) {
    nav {
        display: flex;
    }
}

#logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.logo-icon {
    height: 5.875rem;
    width: 1.938rem;
}

.logo-text {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Nostalgic-Remain';
}

.nav-link {
    font-weight: bold;
    font-size: large;
    color: var(--gray);
}

.nav-link:hover {
    color: var(--link-color);
}

.contact-button {
    display: none;
    border: none;
    background-color: var(--primary—color);
    color: var(--background-color);
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
}

.contact-button:hover {
    background-color: #5254f8;
}

<<<<<<< HEAD
.menu-button {
    display: block;
    border: none;
    background-color: var(--background-color);
    color: var(--text—color);
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
}

.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}

@media (min-width: 780px) {
    .contact-button {
        display: block;
    }

    .menu-button {
        display: none;
    }
}


/* Hero Section */

#hero {
    max-width: 1280px;
    padding: 0.6rem;
    margin: 0 auto;
    width: 100%;
=======
#hero {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: 0 auto;
    width: 100%;
    height: 620px;
>>>>>>> 3ed7e1df93493549bd506691e6b946b09f4c83d5
    display: flex;
    align-items: center;
    gap: 2rem;
}

.lefthero {
    width: 50%;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    justify-content: center;
=======
    justify-content: space-evenly;
>>>>>>> 3ed7e1df93493549bd506691e6b946b09f4c83d5
    align-items: start;
    gap: 1rem;

}

<<<<<<< HEAD
=======
.righthero {
    width: 50%;
    height: 100%;
    background: url(./images/usgs-hoS3dzgpHzw-unsplash.jpg) center no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 1.5rem;
}

>>>>>>> 3ed7e1df93493549bd506691e6b946b09f4c83d5
.hero-label {
    color: var(--primary—color);
    font-size: large;
    font-weight: bold;
}

.hero-title {
<<<<<<< HEAD
    font-size: 3.7rem;
=======
    font-weight: bolder;
    font-size: 3.5rem;
>>>>>>> 3ed7e1df93493549bd506691e6b946b09f4c83d5
    text-transform: capitalize;
}

.hero-desc {
<<<<<<< HEAD
    width: 85%;
    color: var(--gray);
    font-size: 1.13rem;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.start-button,
.tour-button {
    border: none;
    background-color: var(--primary—color);
    color: var(--background-color);
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;

}

.tour-button {
    background-color: var(--dark-gray);
}

.righthero {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.1);
    margin: 0 2rem;
}

.hero-image {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media (max-width:780px) {
    #hero {
        flex-direction: column;
        text-align: center;
    }

    .lefthero {
        width: 100%;
        align-items: center;
    }

    .hero-desc {
        width: 100%;
    }

    .righthero {
        width: 100%;
    }
}

/* Company Section */
.company-container {
    max-width: 1280px;
    padding: 0.6rem;
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.company-section-title {
    font-size: 2.2rem;
    font-weight: bold;
}

.company-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--light-gray);
    padding: 1.5rem;
    border-radius: 10px;
    gap: 2rem;
}

.company-card {
    display: flex;
    align-items: center;
    color: var(--light-gray);
    gap: 0.5rem;
}

.company-img {
    height: 1.56rem;
}

.company-texts {
    font-size: 1rem;
}

@media (max-width:780px) {
    .company-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Feature Section */

.feature-container {
    background-color: var(--light-gray);
    padding: 2rem 0;
    margin-top: 1.2rem;
}

.feature-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.feature-head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-title {
    font-size: 2.2rem;
    font-weight: bold;
}

.feature-description {
    font-size: 1rem;
    color: var(--gray);
}

.feature-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 1.3rem;
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4a90e2;
    padding: 1.6rem;
    border-radius: 10px;
    gap: 1rem;
}

.fcard-img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fcard-img>img {
    height: 1.5rem;
    width: 1.5rem;
}

.fcard-title {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--background-color);
}

.fcard-desc {
    color: var(--background-color);
}

.feature-card:nth-child(2) {
    background-color: #ff6289;
}

.feature-card:nth-child(3) {
    background-color: #fcbf58;
}

.feature-card:nth-child(4) {
    background-color: #44bfc3;
}

.feature-card:nth-child(5) {
    background-color: #77b05d;
}

.feature-card:nth-child(6) {
    background-color: #7d78b1;
}

@media (max-width:780px) {
    .feature-head {
        margin-bottom: 1rem;
    }

    .feature-body {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 1rem;
    }
}

/* Testimonials Section */
.testimonial-container {
    padding: 2rem 0;
}

.testimonials-content {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.testimonial-title {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 1rem;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem;
}

.testimonial-card {
    border: 1px solid var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rbga(0, 0, 0, 0.2);
    border: 1px solid blue;
}

.testimonial-text {
    color: var(--dark-gray);
    font-style: italic;
    font-size: 0.875rem;
}

.testimonial-avatar>img {
    height: 5rem;
    width: 5rem;
}

.testimonial-details>h3 {
    font-size: larger;
    color: var(--primary—color);
}

.testimonial-details>p {
    font-size: 0.875rem;
    color: var(--dark-gray);
}

/* NewsLetter Section */
.newsletter-container {
    background-color: var(--background-color);
    max-width: 1280px;
    height: 40vh;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.newsletter-content {
    display: flex;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.newsletter-left {
    display: block;
    width: 50%;
}

.newsletter-left>img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.newsletter-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
    gap: 1rem;
}

.newsletter-title {
    color: var(--primary—color);
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
}

.newsletter-desc {
    text-align: left;
    color: var(--dark-gray);
}

.newsletter-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    gap: 0.5rem;

}

.newsletter-email {
    padding: 0.5rem 0.75rem;
    background-color: var(--background-color);
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.newsletter-email:focus {
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.newsletter-send-button {
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--primary—color);
    border: none;
    border-radius: 0.25rem;
}

.newsletter-send-button:hover {
    background-color: #2563eb;
}

.newsletter-policy {
    font-size: 0.75rem;
    color: #777;
}

.news-links {
    text-decoration: underline;
    color: #2563eb;
    font-weight: 500
}

@media (max-width: 700px) {
    .newsletter-left {
        display: none;
    }

    .newsletter-right {
        width: 100%;
    }
}

/* Footer Section  */
.footer-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2.4rem;
    text-align: left;
    padding-bottom: 2rem;
}

.footer-top {
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'nostalgic-remain';
}

.brand-logo>img {
    width: 2rem;
    height: 2rem;
}

.footer-label {
    font-size: 1rem;
    color: #777;
}

.social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.social-link>img {
    color: #777;
    width: 1.5rem;
    height: 1.5rem;
}

.footer-grid {
    width: 58%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    padding-top: 4.3rem;
}

.footer-grid-column {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer-title {
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text—color);
}

.footer-link {
    color: #777;
    font-size: 0.9rem;
}

.footer-copyright {
    border-top: 1px solid #e5e7eb;
    padding: 1.2rem 2.4rem;
    text-align: center;
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
}

@media (max-width:1080px) {

    footer {
        flex-direction: column;
    }

    .footer-top {
        margin-top: 2rem;
    }

    .footer-grid {
        width: 100%;
        align-self: center;
        justify-content: space-evenly;

    }
}

@media (max-width:780px) {
    .footer-grid {
        padding-left: 5rem;
        grid-template-columns: repeat(2, 1fr);
    }
=======
    color: var(--gray);
    font-size: larger;
>>>>>>> 3ed7e1df93493549bd506691e6b946b09f4c83d5
}